.header {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: var(--zinc-600);
}

@media (prefers-color-scheme: dark) {
  .header {
    color: var(--zinc-300);
  }
}

.score {
  font-weight: 700;
  color: var(--green-500);
}

.multiplierBtn {
  user-select: none;
  padding: 0.25rem 0.75rem;
  border: 1px solid currentColor;
  border-radius: var(--radius);
  font-weight: 700;
}

.multiplierBtn:not(:disabled):hover {
  background: var(--gray-100);
}

.multiplierBtn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
